@import url('../style/common.css');

body {
    padding: var(--margin-border);
    padding-top: 0;
    width: 325px;
}

.main-icon {
    color: var(--color-accent);
    font-size: 13pt;
    display: flex;
}

.header-text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 22pt;
    font-family: 'roboto';
}

.small-icon {
    color: var(--color-accent);
    font-size: 14pt;
}

.prayer-text {
    font-size: 16pt;
    font-family: 'cairo';
    margin-left: var(--margin-border);
}

.prayer-on,
.prayer-off {
    cursor: pointer;
}

.prayer-off {
    color: var(--color-off);
}

.prayer-on {
    color: var(--color-accent);
}

.app-entry {
    margin-left: 0 !important;
}

.line {
    margin: 0px -30px var(--margin-border) -30px;
    border: 1px solid var(--color-line);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
}

.content {
    align-content: baseline;
    display: flex;
    flex-direction: column;
    margin: 15px var(--margin-border);
}

.header {
    margin: var(--margin-border) 0;
}

.notifications {
    display: flex;
    margin: var(--margin-border) 0;
    justify-content: space-between;
    align-items: center;
}

.notifications-label {
    font-size: 12pt;
    font-family: 'roboto';
    font-weight: bold;
    margin-left: var(--margin-border);
}

.notifications-control {
    display: flex;
    justify-content: flex-end;
    margin-right: var(--margin-border);
}

.options {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.options-icon {
    color: var(--color-accent);
    font-size: 16pt;
    cursor: pointer;
}
