@font-face {
    font-family: "cairo";
    src: url('../../fonts/Cairo/Cairo-Light.ttf') format('truetype');
}

@font-face {
    font-family: "roboto";
    src: url('../../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}

.rtl-style {
    direction: rtl;
}

.cairo-style {
    font-family: 'cairo' !important;
}

.roboto-style {
    font-family: 'roboto' !important;
}

:root {
    --color-accent: rgb(100, 189, 99);
    --color-off: #B0BEC5;
    --color-line: #ECEFF1;
    --color-shadow: #555;
    --margin-border: 10px;
}