@import url('../style/common.css');

body {
    margin: 0;
}

.header {
    padding: 5px 0;
    box-shadow: 0px 0 5px var(--color-shadow);
    margin-bottom: 15px;
}

.header-content {
    display: flex;
    padding-left: var(--margin-border);
}

.header-icon {
    color: var(--color-accent);
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-container {
    display: flex;
    align-items: center;
}

.option-label {
    font-size: 16pt;
    font-weight: bold;
    width: 300px;
}

.option-control {
    display: flex;
    justify-content: flex-end;
    width: 500px;
}

.option-control select {
    height: 35px;
    width: 300px;
}

.location-control {
    height: 300px;
    border: 1px solid var(--color-line);
    margin-top: var(--margin-border);
}

.location-desc {
    font-size: 12pt;
    font-style: oblique;
    color: var(--color-shadow);
}

.location-marker {
    font-size: 45px;
    color: var(--color-accent);
    position: absolute;
    top: -45px;
    left: -15px;
}

.options-wrapper {
    font-family: 'roboto';
}

.options-wrapper>* {
    margin-bottom: 15px;
}